body {
   font-family: Helvetica Neue, Arial, sans-serif;
	margin: auto;
   padding:10px;
   max-width: 95%;
   border:0;
   vertical-align: baseline;
}

   body {background-image: url('northcascades.JPG');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}


#map {
   position: relative;
   width: 100%;
   top: 0;
   bottom: 0;   
   }
  
   #menu {
      background: #fff;
      position: absolute; 
      top: 1.5%;
      left: 1%;
      z-index: 1;
      border-radius: 3px;
      width: fit-content;
      border: 1px solid rgba(0, 0, 0, 0.4);
      font-family: 'Open Sans', sans-serif;
      }
      
      #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      text-align: center;
      }
      
      #menu a:last-child {
      border: none;
      }
      
      #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
      }
      
      #menu a.active {
      background-color: #3887be;
      color: #ffffff;
      }
      
      #menu a.active:hover {
      background: #3074a4;
      }

   h1 {
      font-family: Helvetica Neue, Arial, sans-serif;
      color: #0066ff;
      font-size: 80px;
      text-shadow: 6px 6px 15px white;
      font-weight: bold;
      text-align: center;
   }
   h2 {
      font-family: Helvetica Neue, Arial, sans-serif;
      color: #0066ff;
      font-size: 40px;
      text-shadow: 3px 3px 8px white;
      font-weight: bold;
      text-align: center;
      align-content: center;
      width: 100%;
   }
   p1 {
      font-family: Helvetica Neue, Arial, sans-serif;
		color: #0066ff;
		font-size: 17px;
		text-shadow: 2px 2px 5px white;
		font-weight: bold;
		text-align: left;
      margin-inline: 1;	
      width:100%;			
						}

   p2 {
      font-family: Helvetica Neue, Arial, sans-serif;
		color: #0066ff;
		font-size: 17px;
		text-shadow: 2px 2px 5px white;
		font-weight: bold;
		text-align: center;
      margin-inline: 1;	
      width:100%;			
						}               

   div.transbox {
      margin: 20px;
      background-color: #ffffff;
      border: 1px solid #0066ff;
      opacity: 0.9;
      width: 95%;
      padding: 5px;
      text-align: left;
                   } 

   div.transbox2 {
      margin: 20px;
      background-color: #ffffff;
      border: 1px solid #0066ff;
      opacity: 0.9;
      width: 95%;
      padding: 5px;
      text-align: center;
                   } 

   div#references{
      background-color: white;
      color: blue;
      padding-bottom: 10px;
      padding-top: 10px;
      opacity: .9;
      text-align: center;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      height:fit-content
                   }
                   
      a:link{
      color: blue;
      }

            